@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.footer{
    background-color: #03A678;
    font-family:  'Permanent Marker', cursive;
    font-size: medium;
    color: #034159;;
}